*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.upper{
    height: 50px;
    width: 100vw;
    /* border: 2px solid green; */
   background: rgb(246, 65, 5);
}
.input{
    position: relative;
    top: 60px;
    left: 20px;
    width: 250px;
    height: 50px;
    border: none;
    border-bottom: 1px solid gray;
}
.navbar{
    /* border: 1px solid; */
    height: 70px;
    margin-top: 20px;
    background: white;
    box-shadow: 20px 20px 10px whitesmoke;
}
.navbar span{
    /* border: 1px solid green; */
    padding: 10px;
    color: gray;
    background: lightgray;
    border-radius: 40px;
    margin-left: 40px;
    position: relative;
    top: 30px;
}
.Nav-div{
    /* border: 2px solid green; */
    width: 300px;
    position: absolute;
    top: 0;
    border-radius: 30px;
    box-shadow: 10px 10px 10px gray;
    background: white;
    height:  100vh;
}
li{
    list-style: none;
    position: relative;
    left:30px ;
    line-height: 2rem;
    font-size: 20px;
    font-family: sans-serif;
    color: gray;
    /* border: 1px solid; */
    width: 250px;
    padding: 5px;
    background: white;
}
li:hover{
    background:linear-gradient(to left ,white,rgb(246, 65, 5));
   color: white;
   border-radius: 20px;
   cursor: pointer;
}
.emp{
    width: 70vw;
    border-radius: 20px;
    background: whitesmoke;
    height: 450px;
    /* border: 1px solid; */
    box-shadow: 10px 10px 10px gray;
    margin-left: 350px;
    margin-top: 80px;
}
.info{
    width:550px;
    height: 300px;
    /* border: 1px solid; */
    margin-left: 400px;
    margin-top: -220px;
}
.info .emp-data{
    padding: 3px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 4px;
    margin-top: 20px;
}
.btn{
    left: 700px;
    top: -40px;
    padding: 10px;
    margin-left: 10px;
    width: 100px;
    border-radius: 30px;
    border: 1px solid rgb(53, 84, 5);
    color:rgb(65, 101, 10) ;
    position: relative;
}
.btn:hover{
    background: rgb(65, 101, 10);
    color: white;
    cursor: pointer;
}